<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="flex-container">
                <div class="flex-item">
                    <img src="https://media.everlane.com/image/upload/c_fill,dpr_1.0,f_auto,g_face:center,q_auto,w_auto:100:1200/v1/i/22a85d54_484e.jpg">
                </div>
                <div class="flex-item">
                    <img src="https://media.everlane.com/image/upload/c_fill,dpr_1.0,f_auto,g_face:center,q_auto,w_auto:100:1200/v1/i/f204ac5d_9b8a.jpg">
                </div>
                <div class="flex-item">
                    <img src="https://media.everlane.com/image/upload/c_fill,dpr_1.0,f_auto,g_face:center,q_auto,w_auto:100:1200/v1/i/ea6e8c73_e670.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 flex-container">
            <div class="button-format flex-item">
                <button routerLink="users" type="button" class="btn btn-dark btn-lg btn-block">User Registration</button>
            </div>
            <div class="button-format flex-item">
                <button routerLink="admin" type="button" class="btn btn-dark btn-lg btn-block">Admin Registration</button>
            </div>
        </div>
        <div class="col-12">
            <button routerLink="login" type="button" class="btn btn-dark btn-lg btn-block">Login</button>
        </div>
    </div>
</div>